os: linux

dist: bionic

language: c

services:
    - docker

before_install:
    - cp travis/* .

install:
    - ./make_dockerfile.sh
    - docker-compose build

script:
    - docker-compose run tests
    # - docker-compose run $(bash <(curl -s https://codecov.io/env)) tests
    # - docker run -v $(pwd):/tests --rm centos:7 /tests/travis/backup_restore.sh

notifications:
    email:
        on_success: change
        on_failure: always

# Default MODE is basic, i.e. all tests with PG_PROBACKUP_TEST_BASIC=ON
env:
#    - PG_VERSION=15 PG_BRANCH=master PTRACK_PATCH_PG_BRANCH=master
#    - PG_VERSION=14 PG_BRANCH=REL_14_STABLE PTRACK_PATCH_PG_BRANCH=REL_14_STABLE
#    - PG_VERSION=13 PG_BRANCH=REL_13_STABLE PTRACK_PATCH_PG_BRANCH=REL_13_STABLE
#    - PG_VERSION=12 PG_BRANCH=REL_12_STABLE PTRACK_PATCH_PG_BRANCH=REL_12_STABLE
#    - PG_VERSION=11 PG_BRANCH=REL_11_STABLE PTRACK_PATCH_PG_BRANCH=REL_11_STABLE
#    - PG_VERSION=10 PG_BRANCH=REL_10_STABLE
#    - PG_VERSION=9.6 PG_BRANCH=REL9_6_STABLE
#    - PG_VERSION=9.5 PG_BRANCH=REL9_5_STABLE
#    - PG_VERSION=13 PG_BRANCH=REL_13_STABLE PTRACK_PATCH_PG_BRANCH=OFF MODE=archive
    - PG_VERSION=16 PG_BRANCH=master PTRACK_PATCH_PG_BRANCH=master MODE=backup
    - PG_VERSION=15 PG_BRANCH=REL_15_STABLE PTRACK_PATCH_PG_BRANCH=REL_15_STABLE MODE=backup
    - PG_VERSION=14 PG_BRANCH=REL_14_STABLE PTRACK_PATCH_PG_BRANCH=REL_14_STABLE MODE=backup
    - PG_VERSION=13 PG_BRANCH=REL_13_STABLE PTRACK_PATCH_PG_BRANCH=REL_13_STABLE MODE=backup
    - PG_VERSION=12 PG_BRANCH=REL_12_STABLE PTRACK_PATCH_PG_BRANCH=REL_12_STABLE MODE=backup
    - PG_VERSION=11 PG_BRANCH=REL_11_STABLE PTRACK_PATCH_PG_BRANCH=REL_11_STABLE MODE=backup
    - PG_VERSION=10 PG_BRANCH=REL_10_STABLE MODE=backup
    - PG_VERSION=9.6 PG_BRANCH=REL9_6_STABLE MODE=backup
    - PG_VERSION=9.5 PG_BRANCH=REL9_5_STABLE MODE=backup
#    - PG_VERSION=13 PG_BRANCH=REL_13_STABLE PTRACK_PATCH_PG_BRANCH=REL_13_STABLE MODE=catchup
    - PG_VERSION=16 PG_BRANCH=master PTRACK_PATCH_PG_BRANCH=master MODE=checkdb
    - PG_VERSION=15 PG_BRANCH=REL_15_STABLE PTRACK_PATCH_PG_BRANCH=REL_15_STABLE MODE=checkdb
    - PG_VERSION=14 PG_BRANCH=REL_14_STABLE PTRACK_PATCH_PG_BRANCH=REL_14_STABLE MODE=checkdb
    - PG_VERSION=13 PG_BRANCH=REL_13_STABLE PTRACK_PATCH_PG_BRANCH=REL_13_STABLE MODE=checkdb
    - PG_VERSION=12 PG_BRANCH=REL_12_STABLE PTRACK_PATCH_PG_BRANCH=REL_12_STABLE MODE=checkdb
    - PG_VERSION=11 PG_BRANCH=REL_11_STABLE PTRACK_PATCH_PG_BRANCH=REL_11_STABLE MODE=checkdb
    - PG_VERSION=10 PG_BRANCH=REL_10_STABLE MODE=checkdb
    - PG_VERSION=9.6 PG_BRANCH=REL9_6_STABLE MODE=checkdb
    - PG_VERSION=9.5 PG_BRANCH=REL9_5_STABLE MODE=checkdb
#    - PG_VERSION=13 PG_BRANCH=REL_13_STABLE PTRACK_PATCH_PG_BRANCH=OFF MODE=compression
#    - PG_VERSION=13 PG_BRANCH=REL_13_STABLE PTRACK_PATCH_PG_BRANCH=OFF MODE=delta
#    - PG_VERSION=13 PG_BRANCH=REL_13_STABLE PTRACK_PATCH_PG_BRANCH=OFF MODE=locking
#    - PG_VERSION=13 PG_BRANCH=REL_13_STABLE PTRACK_PATCH_PG_BRANCH=REL_13_STABLE MODE=merge
#    - PG_VERSION=13 PG_BRANCH=REL_13_STABLE PTRACK_PATCH_PG_BRANCH=OFF MODE=option
#    - PG_VERSION=13 PG_BRANCH=REL_13_STABLE PTRACK_PATCH_PG_BRANCH=OFF MODE=page
#    - PG_VERSION=13 PG_BRANCH=REL_13_STABLE PTRACK_PATCH_PG_BRANCH=REL_13_STABLE MODE=ptrack
#    - PG_VERSION=13 PG_BRANCH=REL_13_STABLE PTRACK_PATCH_PG_BRANCH=REL_13_STABLE MODE=replica
#    - PG_VERSION=13 PG_BRANCH=REL_13_STABLE PTRACK_PATCH_PG_BRANCH=OFF MODE=retention
    - PG_VERSION=16 PG_BRANCH=master PTRACK_PATCH_PG_BRANCH=master MODE=restore
    - PG_VERSION=15 PG_BRANCH=REL_15_STABLE PTRACK_PATCH_PG_BRANCH=REL_15_STABLE MODE=restore
    - PG_VERSION=14 PG_BRANCH=REL_14_STABLE PTRACK_PATCH_PG_BRANCH=REL_14_STABLE MODE=restore
    - PG_VERSION=13 PG_BRANCH=REL_13_STABLE PTRACK_PATCH_PG_BRANCH=REL_13_STABLE MODE=restore
    - PG_VERSION=12 PG_BRANCH=REL_12_STABLE PTRACK_PATCH_PG_BRANCH=REL_12_STABLE MODE=restore
    - PG_VERSION=11 PG_BRANCH=REL_11_STABLE PTRACK_PATCH_PG_BRANCH=REL_11_STABLE MODE=restore
    - PG_VERSION=10 PG_BRANCH=REL_10_STABLE MODE=restore
    - PG_VERSION=9.6 PG_BRANCH=REL9_6_STABLE MODE=restore
    - PG_VERSION=9.5 PG_BRANCH=REL9_5_STABLE MODE=restore
#    - PG_VERSION=13 PG_BRANCH=REL_13_STABLE PTRACK_PATCH_PG_BRANCH=REL_13_STABLE MODE=time_consuming

jobs:
    allow_failures:
        - if: env(PG_BRANCH) = master
        - if: env(PG_BRANCH) = REL_15_STABLE
        - if: env(PG_BRANCH) = REL9_5_STABLE
#        - if: env(MODE) IN (archive, backup, delta, locking, merge, replica, retention, restore)

# Only run CI for master branch commits to limit our travis usage
#branches:
#    only:
#    - master

